<h1>Categorys</h1>
<hr>
<a href="/createitem">Add new Category</a>
<table border="1">
    <tr>
        <th>categoryname</th>
    </tr>
    {{#each categorys }}
    <tr>
        <td>{{ this.categoryname }}</td>
    </tr>
    {{/each}}
</table>