<h1>Categorys</h1>
<hr>
<a href="categorys/create/">Add new Category</a>
<table border="1">
    <tr>
        <th>categoryname</th>
    </tr>
    {{#each categorys }}
    <tr>
        <td>{{ this.categoryname }}</td>
        <td>
            <a href="categorys/update?id={{ this.id }}">Edit</a>
            <a href="categorys/delete?id={{ this.id }}">Delete</a>
        </td>
    </tr>
    {{/each}}
</table>